
@model OdeToFood.ViewModels.HomeIndexViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        @foreach(var restaurant in Model.Restaurants)
        {
            @restaurant.Name;
        <br/>
        }      
        @Model.CurrentMessage;
        
    </table>
</body>
</html>